@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.loader {
  border: 8px solid #f3f3f3;
  border-top: 8px solid blue;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.details-container {
  width: 1200px;
  height: 100vh;
  margin-inline: auto;
  padding: 20px;
  overflow: hidden;

  @include breakpoint(1200px) {
    width: 100%;
    min-height: 100vh;
  }

  @include breakpoint(420px) {
    width: 100%;
    min-height: 100vh;
  }
  .back {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 20px;

    @include breakpoint(1000px) {
      width: 100%;
    }

    button {
      background-color: $card-bg;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
      width: 136px;
      border: none;
      outline: none;
      display: flex;
      gap: 10px;
      padding: 20px;
      border-radius: 8px;
      align-items: center;
    }
  }

  .details {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 7%;

    @include breakpoint(1000px) {
      width: 100%;
      flex-direction: column;
    }

    .borders-wrapper {
      display: flex;
      gap: 10px;
      margin-top: 20px;
      align-items: center;

      @include breakpoint(760px) {
        width: 100%;
        flex-direction: column;

        strong {
          width: 100%;
        }
      }

      .borders {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;

        @include breakpoint(760px) {
          width: 100%;
        }

        .border {
          min-width: 96px;
          text-align: center;
          padding: 5px;
          border-radius: 5px;
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
        }
      }
    }
    .flag {
      width: 560px;
      height: 401px;
      // @include breakpoint(1024px) {
      //   width: 400px;
      // }

      @include breakpoint(760px) {
        width: 100%;
      }

      @include breakpoint(420px) {
        height: 229px;
        width: 100%;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
    .right {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: stretch;
      gap: 20px;
      margin-top: 20px;

      @include breakpoint(760px) {
        width: 100%;
      }

      span {
        font-weight: bold;
      }
      .info {
        display: flex;
        gap: 40px;

        @include breakpoint(760px) {
          flex-direction: column;
        }

        .left {
          display: flex;
          flex-direction: column;
          gap: 15px;
        }
      }
    }
  }
}
.dark-theme {
  background-color: $card-bg-dark !important;
  color: $text-color-dark !important;

  svg {
    fill: $card-bg-dark !important;
  }
}
