@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.card-container {
  width: 264px;
  min-height: 336px;
  background-color: $card-bg;
  @include flex(column);

  .flag {
    width: 100%;
    height: 160px;
  }

  .country-info {
    width: 100%;
    @include flex(column, flex-start, stretch, 16px);
    padding: 20px;

    .sub-detail {
      @include flex(column, flex-start, stretch, 8px);
    }
  }
}
