<div class="country-list-container">

    @if(loading$ | async){

    <div class="loader-wrapper">
        <div class="loader"></div>
    </div>
    }

    <section class="filter-section">

        <input type="text" placeholder="Search for a country" />

        <div class="filter">
            <select>
                <option value="">Filter By Region</option>
                <option value="Africa">Africa</option>
                <option value="Asia">Asia</option>
                <option value="Europe">Europe</option>
                <option value="Americas">America</option>
                <option value="Oceania">Oceania</option>
            </select>
        </div>
    </section>

    <section class="country-list">
        @for (country of allcountries$ | async; track country.name.official) {
        <app-country-card [country]="country"></app-country-card>
        }
    </section>
</div>