<div class="country-list-container">

    <section class="filter-section">

        <input type="text" placeholder="Search for a country" />

        <div class="filter">
            <select>
                <option>Africa</option>
                <option value="">America</option>
                <option value="">Asia</option>
                <option value="">Europe</option>
                <option value="Oceania">Oceania</option>
            </select>
        </div>
    </section>

    <section class="country-list">

    </section>
</div>